img {
  width: 100%;
  height: auto;
  overflow: auto;
}

body {
  background-color: #fafafa;
  line-height: 1.5;
  margin: 0;
  margin-top: 3.5rem;
  padding: 0;
}

.bg-steel {
  background-color: #5f788a;
}


.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.floating-menu {
  background: white;
  height: 7rem;
  width: 90vw;
  z-index: 100;
  left: 5%;
  bottom: 5%;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.38);
  position: sticky;
}

.floating-menu img {
  width: auto;
  height: 7rem;
}
.shop-item-title{
    text-align: center;
    font-weight: bold;

}

ul {
  list-style: none;
}

.add-to-cart {
  float: right;
  margin-right: 5%;
  padding-bottom: 0%;
}


.content-section {
  background: #ffffff;
  /* padding: 10px 20px; */
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: black;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}
.fa_custom{
  color: #fafafa;
}
.fa_custom:hover{
    color: #3d505e;
}
a {
    color: #3d505e;
}

a:hover {
  color: #3d505e;
  text-decoration: none;
}

.nav-item {
    color: #fafafa;
}

@media (max-width:576px) {
  .floating-menu {
    bottom: 0%;
    width: 100%;
    left: 0px;
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;

  }
  .col-6 col-md-3 col-lg-2 my-auto p-0  pr-md-3{
    right: 8px;
  }
}

#product-title{
    height: 50%;
    top: 39%;
}
@media (max-width:768px) {

  .col-6 {
    right: 8px;
  }


}
@media (max-width:424px) {


    .shop-item-title{
        margin-left: 8%;
    }
}



.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: fixed;
    z-index: 100;
    border-radius: 3px;
    padding: 20px;
    display: none;
    right: 5%;


}

.shopping-cart > .shopping-cart-header{
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart >.shopping-cart-total{
    float: right;
}

.shopping-cart-items{
    padding-top: 20px;
}

.shopping-cart-items > li{
    margin-bottom: 18px;
    list-style-type: none;
}

.shopping-cart-items > img {
    float: left;
    margin-right: 12px;
}

.shopping-cart-items > .item-name{
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.shopping-cart-items > .item-price{
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart-items > .item-quantity{
    color: #ABB0BE;
}

.shopping-cart:after{
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button{


    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;

    margin: 25px 0 15px 0;

}



.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clearfix > img {
    width: 20%;
    height: auto;
    overflow: auto;
}

.clearfix > .item-name {

    font-weight: bold;
}

.sp-replacer{
    padding: 7px;
}
