img {
  width: 100%;
  height: auto;
  overflow: auto;
}

body {
  background-color: #fafafa;
  line-height: 1.5;
  margin: 0;
  margin-top: 3.5rem;
  padding: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.floating-menu {
  background: white;
  height: 7rem;
  width: 90vw;
  z-index: 100;
  left: 5%;
  bottom: 5%;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.38);
  position: sticky;
}

.floating-menu img {
  width: auto;
  height: 7rem;
}

.add-to-cart {
  float: right;
  margin-right: 5%;
  padding-bottom: 0%;
}


.content-section {
  background: #ffffff;
  /* padding: 10px 20px; */
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: black;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}
.fa_custom{
  color: #fafafa;
}

a {
    color: #fafafa;
}

a:hover {
  color: #3d505e;
  text-decoration: none;
}

@media (max-width:576px) {
  .floating-menu {
    bottom: 0%;
    width: 100%;
    left: 0px;
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;

  }
  .col-6 col-md-3 col-lg-2 my-auto p-0  pr-md-3{
    right: 8px;
  }
}

@media (max-width:768px) {

  .col-6 {
    right: 8px;
  }
}

.shopping-cart {
    background: white;
    width: 320px;
    position: absolute;
    top: 30px;
    right: -10px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26) !important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(0);
    transform-origin: right top 0;
    transform: scale(0);
}
.shopping-cart .active {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
}

.shopping-cart .shopping-cart-header{
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total{
    float: right;
}



.shopping-cart-items {

    padding-top: 20px;
}
.shopping-cart-items li{
    margin-bottom: 18px;
}

.shopping-cart-items img{
    float: left;
    margin-right: 12px;
    max-width: 70px;
    max-height: 70px;
}


.item-name {
    display: block;
    font-size: 16px;
}
.item-detail {
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.item-price {
    color: #fafafa;
    margin-right: 8px;
}

.item-quantity {
    color: #fafafa;
}




.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #fafafa;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    text-transform: uppercase;


}
i {
    padding-left: 5px;
}
.fa_custom:hover{
    color:#3d505e ;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

