img{
    width: 100%;
    height: auto;
    max-height: 100vh;
    max-width: 100%;
    overflow: auto;

}
body {

    background-color: #fafafa;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;


}


#product-name.product-name{


    font-size: 20px;
}

#product-details.product-details{
    font-size: 15px;

}
.floating-menu {
    font-family: sans-serif;
    background: white;
    height: 55px;
    width: 90vw;
    z-index: 100;
    left: 5%;
    bottom: 0%;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 41px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 41px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);

    padding-bottom: 1%;
    padding-top: 1%;
    position: sticky;
    margin:4%;
}
.floating-menu img
{
    width: auto;
    height: -webkit-fill-available;

}
.add-to-card{
    float: right;
    margin-right: 5%;
    padding-bottom: 0%;
}



@media  (max-width:380px){
    .floating-menu{
        position: sticky;
        bottom: 0%;
        width: 90vw;
        left: 0px;
        padding: 3%;
        height: 55px;
        margin: 8%;
    }

    }

