{% extends "layout.html" %}
{% block content %}
    <!-- <div class="container"> -->
        <!-- <div id="cart-items"> -->
            <div class="title">
                Shopping Bag
              </div>
              
          <div id="shopping-cart">

            
            </div>
            <!-- Title -->
          
           
            <!-- Product #1 -->
      
        <!-- </div> -->
    <!-- </div> -->
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='script/cart.js') }}"></script>
{% endblock javascript %}