{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <!-- <div id="cart-items"> -->
            <hr>
            <div class="title">
                Shopping Bag
              </div>
              <hr>
            <div class="row">

            </div>  
            <hr style="border: 1px solid">
            <div style="opacity: 0.25">
                ITEMS ADDED TO YOUR SHOPPING BAG
            </div>
          <div id="shopping-cart">
            <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">ITEM</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col"></th>
                    <th scope="col">PRICE</th>
                    
                  </tr>
                </thead>
                <tbody>


                </tbody>
            </table>

            <hr>
            <div class="container mb-1" id="total-menu">

            </div>
                <!-- <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table> -->
            
            </div>
            <!-- Title -->
          
           
            <!-- Product #1 -->
      
        <!-- </div> -->
    </div>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='script/cart.js') }}"></script>
{% endblock javascript %}