{% extends "layout.html" %}
{% block content %}

<div class="container">
  {% for product in products %}
  <article class="content-section container-fluid">
    <a href="{{ url_for('product', id=product.id) }}">
    <div class="row">
      <div class="col-12 col-md-3 p-0">
        <img src="{{ product.image_url }}" alt="{{ product.id }}">
      </div>
      <div class="col-12 col-md-9 text-center py-3">
        <h2>{{ product.title }}</h2>
        <p class="article-content">{{ product.description }}</p>
      </div>
      <div class="col text-right">
        <p>${{ product.price }}</p>
      </div>
    </div>
    </a>
  </article>
  {% endfor %}

</div>
{% endblock content %}