{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Home</h1>
    {% for product in products %}
        <article>
          <div>
            <div>
              <a class="mr-2" href="{{ url_for('product', id=product.id) }}">${{ product.price }}</a>
              <img src="{{ url_for('static', filename='img/' + product.image_file) }}" alt="{{ product.id }}" style="max-height: 5rem; width:auto;">
            </div>
            <h2><a class="article-title" href="{{ url_for('product', id=product.id) }}">{{ product.title }}</a></h2>
            <p class="article-content">{{ product.description }}</p>
          </div>
        </article>
    {% endfor %}
  
</div>
{% endblock content %}
