<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Seçenek Ekle
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="form-group">
                <form name="add-option" id="product-form" method="POST" action="">
                    
                    <table class="table table-bordered" id="dynamic-field">
                        
                    </table>
                   
                    <!-- <div class="form-group mb-2 d-none" id="color-picker">
                            <div class="pickr "></div>
                    </div> -->
                </form>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Fiyat Ekle
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="row mt">
              <div class="col" id="date-from"><input type='text' class="datepicker-here form-control" placeholder="Başlangıç Tarihi"   data-language='en'/></div>
              <div class="col"><input type='text' class="datepicker-here form-control" placeholder="Bitiş Tarihi"   data-language='en'/></div>
            </div>
            <div class="row mt-4">
              <div class="w-100"></div>
              <div class="col"> <input type="number" class="form-control" placeholder="Normal Fiyat" step="0.01" id="price" ></div>
              <div class="col"> <input type="number" class="form-control" placeholder="İndirimli Fiyat"  step="0.01" id="discounted-price"></div>
            </div> 
            <div class="row mt-4">
              <div class="w-100"></div>
              <div class="col"> <input type="number" class="form-control" placeholder="İndirim Oranı" id="sale-ratio" ></div>
              <div class="col"></div>
            </div>   
          </div>
        </div>
      </div>
    </div>
   
  </div>

