{% extends "layout.html" %}
{% block content %}

  <div class="row">
    <div class="col text-center product-image">
      <img src="{{ url_for('static', filename='img/ex2.jpg') }}" >

    </div>
    <div class="col  pt-2">
      <div class="container ">
        <div class="row ">
          <h1 class="product-name " id="product-name" >Lipstick</h1>
        </div>
        <div class="row mt-3">
          <span class="text-justify product-details" id="product-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis nec est id aliquet. Curabitur congue pharetra ex, sit amet commodo purus dignissim eget. In lobortis dolor at malesuada mattis. Donec euismod porttitor lacus sit amet pretium. Maecenas pellentesque posuere dolor eget accumsan. In eu cursus dolor. Aenean porttitor sit amet eros at mollis. Duis varius nibh sit amet nulla cursus dictum in nec libero.
          </span>
        </div>

      </div>
    </div>

    <div class="floating-menu">
      <h3>Floating Menu</h3>



    </div>
  </div>


{% endblock content %}