{% extends "layout.html" %} {% block content %}

<div class="row w-100 mx-0" style="margin-top:-1rem;">
    <div class="col-sm p-0 text-center product-image">
        <img alt="{{ product.id }}" src="{{ url_for('static', filename='img/' + product.image_file) }}">
    </div>

    <div class="col-sm container p-3">

        <div class="col">
            <h1 class="product-name " id="product-name">{{ product.title }}</h1>
        </div>
        <div class="col d-md-none">
            <span class="shop-item-price">${{product.price}}</span>
        </div>
        <div class="col mt-3">
            <span class="text-justify product-details" id="product-details">{{ product.description }}</span>
        </div>
    </div>
</div>

{% endblock content %} {% block floating_menu %}
<div class="floating-menu row p-0">
    <div class="col-3 col-md-3 my-auto p-0 d-none d-md-block">
        <img alt="{{ product.id }}" src="{{ url_for('static', filename='img/' + product.image_file) }}"
            class="floating-menu-img">
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-9 col-md-1 col-lg-6 my-auto p-0 d-none d-md-block">
        <div class="shop-item-details">
            <span class="shop-item-price">${{product.price}}</span>
        </div>
    </div>

    <div class="col-6 col-md-2 col-lg-2 my-auto p-md-0">
        <span class="input-group">
            <div class="input-group-btn">
                <button class="btn" type="button" id="minusButton">-</button>
            </div>
            <input type="text" class="form-control no-padding add-color text-center height-25" maxlength="3" value="1"
                id="counter">
            <div class="input-group-btn">
                <button class="btn" type="button" id="plusButton">+</button>
            </div>
        </span>
    </div>

    <div class="col-6 col-md-3 col-lg-2 my-auto p-0  pr-md-3">
        <button class="btn btn-block btn-primary add-to-cart p-3 mr-0" type="button" id="addToCartBtn">Add to cart</button>
    </div>
</div>
{% endblock floating_menu %}