<div class="container">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New product</legend>
    
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.product_type.label(class="form-control-label") }}
                {% if form.product_type.errors %}
                {{ form.product_type(class="form-control form-control-lg is-invalid", id="product_type") }}
                <div class="invalid-feedback">
                    {% for error in form.product_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.product_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    
            <div class="form-group" id="product_properties_group">
                {{ form.properties.label(class="form-control-label") }}
                {% if form.properties.errors %}
                {{ form.properties(id="product_properties") }}
                <div class="invalid-feedback">
                    {% for error in form.properties.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.properties(id="product_properties") }}
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.image_file.label(class="form-control-label") }}
                {% if form.image_file.errors %}
                {{ form.image_file(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.image_file.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.image_file(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    </div>