{% extends "layout.html" %}
{% block content %}

  <div class="row mr-lg-3 mr-sm-0 mb-xs-5">
      <div class="col-sm p-0 text-center product-image">
          <!--<img alt="Product image" src="{{ url_for('static', filename='img/ex2.jpg') }}" -->
          <img alt="Product image" src="{{ url_for('static', filename='img/' + product.image_file) }}" >
      </div>

    <div class="col-sm  pt-2 m-3 mr-md-3 ">
        <div class="row ">
          <h1 class="product-name " id="product-name" >{{product.title}}</h1>
        </div>
        <div class="row mt-3">
          <span class="text-justify product-details" id="product-details">{{product.description}}</span>
        </div>
    </div>

    <div class="floating-menu">
      <div class="row">
        <div class="col-2">
          <img src="{{ url_for('static', filename='img/' + product.image_file ) }}"  class="floating-menu-img">
        </div>
        <div class="col-3 px-0">
           <form action="" method="post">
            <div class="shop-item-details">
                <span class="shop-item-price">${{product.price}}</span>
              </div>
            </form>
          </div>
          <div class="col-3 px-0" style="right: -9%">
              <div class="input-group" >
                    <span class="input-group-btn">
                        <button class="btn btn-white btn-minuse" type="button">-</button>
                    </span>
                    <input type="text" class="form-control no-padding add-color text-center height-25" maxlength="3" value="0" id="counter">
                    <span class="input-group-btn">
                        <button class="btn btn-red btn-pluss" type="button">+</button>
                    </span>
              </div><!-- /input-group -->
          </div>
          <div class="col-3 px-0 ">
            <input class="btn btn-outline-secondary add-to-card" type="submit" id="addToCartBtn" value="Add to Cart"/>
          </div>
      </div>

    </div>
  </div>


{% endblock content %}