<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
             Yeni Ürün Ekle
            </button>
          </h2>
        </div>
        
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="form-group">
                  <form  name="add-product" id="product-form-2" method="POST" action="">
                      
                      <div id="dynamic-field-2">
                     
                      </div>
                     
                     
                  </form>
              </div>
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
           Seçenek Ekle
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="form-group">
                <form name="add-option" id="product-form" method="POST" action="">
                    
                    <div id="dynamic-field">
                        
                    </div>
                    <button class="btn btn-primary" type="button" id="add-new-option-0">Seçenek Ekle</button>
                   
                    <!-- <div class="form-group mb-2 d-none" id="color-picker">
                            <div class="pickr "></div>
                    </div> -->
                </form>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Fiyat Ekle
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        
      </div>
    </div>
   
  </div>
  <button class="btn btn-outline-primary btn-block mx-auto mb-3 mt-3" style="width: 80vw" type="button"  id="submit-button">Ürün Ekle</button>
